/* start global style */

:root{
    --main-color:#0078FF;
    --white-color:white;
    --body-color:#F5F5F5;
    --background-ffff:#fff;
    --padding-top: 50px;
    --p-color:rgb(78, 78, 78);
    --span-color:rgb(30, 30, 30);
    --progress-color: #0d6dfd3e;
    --bg-footer:#0062D3;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F5F5F5;
}
html , body {
    scroll-behavior: smooth;
}


/* end global style */


/* start section two  */
.carousel-indicators .active {
    opacity: 1;
    background-color: var(--main-color);
}
.carousel-indicators [data-bs-target] {
    border: 2px solid var(--main-color);
}

.carousel-indicators {
    bottom: -42px;
}

.Project-information h2{
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--span-color);
    
}
.content-Project-information h4{
    font-size: .9375rem;
    font-weight: 400;
    color: var(--p-color);
}
.content-Project-information span{
    font-size: .9375rem;
    font-weight: 700;
    color: var(--p-color);
}
.content-Project-information a{
    font-size: .9375rem;
    font-weight: 400;
    color: var(--p-color);
    transition: 0.5s ease color;
}
.content-Project-information a:hover{
    color: var(--main-color);
}

.example-portfolio h2{
    font-size: 1.625rem;
    font-weight: 700;
    color: var(--span-color);
}
.example-portfolio p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--p-color);
}
/* end section two  */